.DS_Store
Thumbs.db
.env.local
*.log

/frontend/node_modules/
/frontend/dist/

/backend/node_modules/
/backend/dist/
/backend/.env

/sdk/js-core/node_modules/
/sdk/js-core/dist/

.vscode/
.idea/
*.swp
