{
  "openapi": "3.0.4",
  "info": {
    "title": "JTL-WAWI API (Cloud)",
    "description": "# Introduction\r\n\r\nWelcome to the JTL-WAWI technical API documentation. This guide is here to help developers understand how our REST API works and how it can be integrated into your existing systems. We'll delve into the details of authentication and data manipulation processes, providing clear examples along the way. Whether you're a developer or an IT professional, this documentation aims to give you a practical understanding, laying the groundwork for effectively using the JTL-WAWI API to enhance your processes.\r\n\r\n# Authentication\r\n\r\nYou register your application with the API by sending a POST request with the required information and corresponding keys. You can find the exact request details at https://developer.jtl-software.com/products/erp/swagger/appregistration. This information has to include the following:\r\n\r\n* AppId\r\n* DisplayName\r\n* Description\r\n* Version\r\n* ProviderName\r\n* ProviderWebsite\r\n* MandatoryApiScopes\r\n\r\nThis data is crucial for identifying and registering your application with the API. The API uses it to generate a temporary authentication ID that allows your application to access the necessary resources. After successful validation of this information, you will receive the API key required for future authentication and API requests.\r\n\r\nBefore you can begin the registration process, you must open JTL-Wawi (new interface) and start the registration process under 'Admin->App registration'. Only at this point are you authorised to send the first API call. This step in JTL-Wawi ensures that your application is properly registered and has permission to use the API.\r\n\r\nThe API will send you an authentication ID in the form of a token. Once you have received this token and successfully completed the registration in JTL-Wawi, you will send another request to the API by including this authentication ID in the URL path.\r\n\r\nAfter successful validation of this second request by the API and confirmation of the correct information, you will be provided with the actual API key. It is important to note that this API key will not be displayed again!\r\n\r\nThis API key will be used in the future to authenticate requests to the API. It is of utmost importance that you securely store the API key upon receipt, as it cannot be retrieved from any other location in the system.\r\n",
    "contact": {
      "name": "JTL-Software-GmbH",
      "url": "https://developer.jtl-software.com/",
      "email": "partner@jtl-software.com"
    },
    "version": "1.0",
    "x-application-version": "1.10.12"
  },
  "servers": [
    {
      "url": "https://api.jtl-cloud.com/erp"
    }
  ],
  "paths": {
    "/accountingData": {
      "get": {
        "tags": [
          "accountingData"
        ],
        "summary": "Query Accounting Data",
        "description": "Delivers a paginated overview of finalized accounting transactions, including invoices, credits, and their cancellations and corrections.",
        "operationId": "AccountingDataHeader_QueryAccountingDataAsync",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Filters documents starting from a specific date and time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filters documents up to a specific date and time",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Filters documents by a specific company ID",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specifies the type of document. 0 = Invoice, 1 = Credit, 2 = Invoice correction, 3 = Invoice cancellation, 4 = credit cancellation, 5 = invoice correction cancellation0=Invoice | 1=Credit | 2=InvoiceCorrection | 3=InvoiceCancellation | 4=CreditCancellation | 5=InvoiceCorrectionCancellation | 6=Liquidation | 7=LiquidationCancellation",
            "schema": {
              "enum": [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7
              ],
              "type": "integer",
              "format": "int32"
            },
            "x-enumNames": [
              "Invoice",
              "Credit",
              "InvoiceCorrection",
              "InvoiceCancellation",
              "CreditCancellation",
              "InvoiceCorrectionCancellation",
              "Liquidation",
              "LiquidationCancellation"
            ]
          },
          {
            "name": "exportCurrencyInDepartureCountry",
            "in": "query",
            "description": "If true, exports total sums in the currency of the departure country",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of the page of items to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page that is specified by `pageNumber`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provides a detailed overview of all non-pending sales orders, including invoices, credits, invoice corrections, invoice cancellations, credit cancellations, and invoice correction cancellations, along with their associated line items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfAccountingData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No registration request was found for the specified identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "accountingdata.queryaccountingdata",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "accountingdata.queryaccountingdata",
              "all.read"
            ]
          }
        ],
        "x-sort": 100
      }
    },
    "/authentication": {
      "post": {
        "tags": [
          "appRegistration"
        ],
        "summary": "Register App",
        "description": "Send a registration request for an (external) application",
        "operationId": "AuthenticationHeader_RegisterAppAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-challengecode",
            "in": "header",
            "description": "You can enter any custom value here. The X-ChallengeCode is used during app registration and must be the same for all registration requests. The maximum length is 30 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Contains the registration request's data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRegistrationRequest"
              }
            }
          },
          "required": true,
          "x-bodyName": "registrationRequest"
        },
        "responses": {
          "201": {
            "description": "Status of the registration process (including the unique identifiers for application and registration request)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationRequestStatusInfo"
                }
              }
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "There was no application service available to receive and handle the registration request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "An application with the specified unique id is already registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": []
          },
          {
            "oauth2-application": [],
            "Wawi": []
          }
        ],
        "x-sort": 0
      }
    },
    "/authentication/{registrationId}": {
      "get": {
        "tags": [
          "appRegistration"
        ],
        "summary": "Fetch Registration Status",
        "description": "Obtain information about a registration request",
        "operationId": "AuthenticationHeader_FetchRegistrationStatusAsync",
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Unique identifier of the registration request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-challengecode",
            "in": "header",
            "description": "You can enter any custom value here. The X-ChallengeCode is used during app registration and must be the same for all registration requests. The maximum length is 30 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration information (containing the current status of the registration process)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationInformation"
                }
              }
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No registration request was found for the specified identifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "The registration request for the specified identifier has already been processed and answered",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": []
          },
          {
            "oauth2-application": [],
            "Wawi": []
          }
        ],
        "x-sort": 0
      },
      "post": {
        "tags": [
          "appRegistration"
        ],
        "summary": "Register Multi Instance App",
        "description": "Sends a registration request for another instance of the same application",
        "operationId": "AuthenticationHeader_RegisterMultiInstanceAppAsync",
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Unique identifier of the registration request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-challengecode",
            "in": "header",
            "description": "You can enter any custom value here. The X-ChallengeCode is used during app registration and must be the same for all registration requests. The maximum length is 30 characters.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status of the registration process (including the unique identifiers of the application and registration request)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationRequestStatusInfo"
                }
              }
            }
          },
          "400": {
            "description": "The operation was not allowed in the given context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "No licence available or the application has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "There was no application service available to receive and handle the registration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": []
          },
          {
            "oauth2-application": [],
            "Wawi": []
          }
        ],
        "x-sort": 0
      }
    },
    "/availabilities": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Query Availabilities",
        "description": "Query all availabilites for items",
        "operationId": "AvailabilityHeader_QueryAvailabilitiesAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all availabilites for items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Availability"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No fields could be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "availability.queryavailabilities",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "availability.queryavailabilities",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/cancellationReasons": {
      "get": {
        "tags": [
          "cancellationreason"
        ],
        "summary": "Query Cancellation Reasons",
        "description": "Query all cancellation reasons for sales orders",
        "operationId": "CancellationReasonHeader_QueryCancellationReasonsAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all cancellation reasons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancellationReason"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "cancellationreason.querycancellationreasons",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "cancellationreason.querycancellationreasons",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Query Categories",
        "description": "Query all categories",
        "operationId": "CategoryHeader_QueryCategoriesAsync",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of the page of items to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page that is specified by `pageNumber`.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedListOfCategory"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.querycategories",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.querycategories",
              "all.read"
            ]
          }
        ],
        "x-sort": 100
      },
      "post": {
        "tags": [
          "category"
        ],
        "summary": "Create Category",
        "description": "Create a new category",
        "operationId": "CategoryHeader_CreateCategoryAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The category to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategory"
              }
            }
          },
          "required": true,
          "x-bodyName": "category"
        },
        "responses": {
          "201": {
            "description": "The created category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.createcategory"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.createcategory"
            ]
          }
        ],
        "x-sort": 210
      }
    },
    "/categories/{categoryId}": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Get Category",
        "description": "Get a specific category",
        "operationId": "CategoryHeader_GetCategoryAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the category for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No category with the given ID exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.getcategory",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.getcategory",
              "all.read"
            ]
          }
        ],
        "x-sort": 200
      },
      "patch": {
        "tags": [
          "category"
        ],
        "summary": "Update Category",
        "description": "Update a specific category",
        "operationId": "CategoryHeader_UpdateCategoryAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category to update.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The category to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategory"
              }
            }
          },
          "required": true,
          "x-bodyName": "category"
        },
        "responses": {
          "201": {
            "description": "The updated category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No category with the given ID exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.updatecategory"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.updatecategory"
            ]
          }
        ],
        "x-sort": 220
      }
    },
    "/categories/{categoryId}/descriptions": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Query Category Descriptions",
        "description": "Query all descriptions for a specific category",
        "operationId": "CategoryHeader_QueryCategoryDescriptionsAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested category descriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryDescription"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No fields could be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.querycategorydescriptions"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.querycategorydescriptions"
            ]
          }
        ],
        "x-sort": 300
      },
      "post": {
        "tags": [
          "category"
        ],
        "summary": "Create Category Description",
        "description": "Create a new description for a specific category",
        "operationId": "CategoryHeader_CreateCategoryDescriptionAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The categoryDescription to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCategoryDescription"
              }
            }
          },
          "required": true,
          "x-bodyName": "categoryDescription"
        },
        "responses": {
          "201": {
            "description": "The created category description.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDescription"
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.createcategorydescription"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.createcategorydescription"
            ]
          }
        ],
        "x-sort": 310
      }
    },
    "/categories/{categoryId}/descriptions/{salesChannelId}/{languageIso}": {
      "delete": {
        "tags": [
          "category"
        ],
        "summary": "Delete Category Description",
        "description": "Delete a description for a specific category",
        "operationId": "CategoryHeader_DeleteCategoryDescriptionAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "salesChannelId",
            "in": "path",
            "description": "The id of the sales channel that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languageIso",
            "in": "path",
            "description": "The iso code of the language that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No category with the given ID exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.deletecategorydescription"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.deletecategorydescription"
            ]
          }
        ],
        "x-sort": 330
      },
      "patch": {
        "tags": [
          "category"
        ],
        "summary": "Update Category Description",
        "description": "Update a description for a specific category",
        "operationId": "CategoryHeader_UpdateCategoryDescriptionAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "salesChannelId",
            "in": "path",
            "description": "The id of the sales channel that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "languageIso",
            "in": "path",
            "description": "The iso code of the language that the descriptions belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The category to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCategoryDescription"
              }
            }
          },
          "required": true,
          "x-bodyName": "categoryDescription"
        },
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No category with the given ID exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.updatecategorydescription"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.updatecategorydescription"
            ]
          }
        ],
        "x-sort": 320
      }
    },
    "/categories/{categoryId}/items": {
      "post": {
        "tags": [
          "category"
        ],
        "summary": "Add Category Items",
        "description": "Add items to a specific category",
        "operationId": "CategoryHeader_AddCategoryItemsAsync",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "The id of the category where the items should be assigned.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The item Ids to be assigned to the category.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-bodyName": "items"
        },
        "responses": {
          "201": {
            "description": "The assigned item ids.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No category with the given ID exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "category.addcategoryitems"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "category.addcategoryitems"
            ]
          }
        ],
        "x-sort": 1000
      }
    },
    "/colorCodes": {
      "get": {
        "tags": [
          "colorcodes"
        ],
        "summary": "Query Color Codes",
        "description": "Query all color codes for sales orders",
        "operationId": "ColorCodeHeader_QueryColorCodesAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all color codes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ColorCode"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "colorcode.querycolorcodes",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "colorcode.querycolorcodes",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Query Companies",
        "description": "Query all companies",
        "operationId": "CompanyHeader_QueryCompaniesAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all companies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "company.querycompanies",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "company.querycompanies",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/conditions": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Query Conditions",
        "description": "Query all item conditions",
        "operationId": "ConditionHeader_QueryConditionsAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all conditions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Condition"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No fields could be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "condition.queryconditions",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "condition.queryconditions",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/creditNotes/{creditNoteId}/output/mail": {
      "post": {
        "tags": [
          "creditnote"
        ],
        "summary": "Mail Credit Note",
        "description": "Execute the mailing of a CreditNote",
        "operationId": "CreditNoteHeader_MailCreditNoteAsync",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "The id of the sales order for that the mail to start.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "description": "The optional key of a Form to mail.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The MailJob is created",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "creditnote.mailcreditnote"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "creditnote.mailcreditnote"
            ]
          }
        ],
        "x-sort": 5010
      }
    },
    "/creditNotes/{creditNoteId}/output/pdf": {
      "post": {
        "tags": [
          "creditnote"
        ],
        "summary": "Pdf Credit Note",
        "description": "Execute the pdf creation of a CreditNote",
        "operationId": "CreditNoteHeader_PdfCreditNoteAsync",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "The id of the sales order for that the creation of a pdf to start.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "description": "The optional key of a Form to creat pdf.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Filestream of the Created PDF",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "creditnote.pdfcreditnote"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "creditnote.pdfcreditnote"
            ]
          }
        ],
        "x-sort": 5010
      }
    },
    "/creditNotes/{creditNoteId}/output/print": {
      "post": {
        "tags": [
          "creditnote"
        ],
        "summary": "Print Credit Note",
        "description": "Execute the printing of a CreditNote",
        "operationId": "CreditNoteHeader_PrintCreditNoteAsync",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "description": "The id of the sales order for that the print to start.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "description": "The optional key of a Form to Print.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "printer",
            "in": "query",
            "description": "The target printer to print. The printer is Mandatory, if no User with Own Printer Configuration Available.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Printjob is created",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "creditnote.printcreditnote"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "creditnote.printcreditnote"
            ]
          }
        ],
        "x-sort": 5010
      }
    },
    "/customerCategories": {
      "get": {
        "tags": [
          "customerCategory"
        ],
        "summary": "Query Customer Categories",
        "description": "Query all customer categories",
        "operationId": "CustomerCategoryHeader_QueryCustomerCategoriesAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all customer categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerCategory"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "customercategory.querycustomercategories",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "customercategory.querycustomercategories",
              "all.read"
            ]
          }
        ],
        "x-sort": 0
      },
      "post": {
        "tags": [
          "customerCategory"
        ],
        "summary": "Create Customer Category",
        "description": "Create a new customer category",
        "operationId": "CustomerCategoryHeader_CreateCustomerCategoryAsync",
        "parameters": [
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The customer category to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCategory"
              }
            }
          },
          "required": true,
          "x-bodyName": "customerCategory"
        },
        "responses": {
          "201": {
            "description": "The created customer category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCategory"
                }
              }
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "customercategory.createcustomercategory"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "customercategory.createcustomercategory"
            ]
          }
        ],
        "x-sort": 0
      }
    },
    "/customerCategories/{customercategoryId}": {
      "get": {
        "tags": [
          "customerCategory"
        ],
        "summary": "Get Customer Category",
        "description": "Get a specific customercategory",
        "operationId": "CustomerCategoryHeader_GetCustomerCategoryAsync",
        "parameters": [
          {
            "name": "customercategoryId",
            "in": "path",
            "description": "The id of the Customercategory to return.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the customercategory for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCategory"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No customercategory with the given ID exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-cloud-id-accessCode": [],
            "Wawi": [
              "customercategory.getcustomercategory",
              "all.read"
            ]
          },
          {
            "oauth2-application": [],
            "Wawi": [
              "customercategory.getcustomercategory",
              "all.read"
            ]
          }
        ],
        "x-sort": 200
      },
      "delete": {
        "tags": [
          "customerCategory"
        ],
        "summary": "Delete Customer Category",
        "description": "Delete a specific customercategory",
        "operationId": "CustomerCategoryHeader_DeleteCustomerCategoryAsync",
        "parameters": [
          {
            "name": "customercategoryId",
            "in": "path",
            "description": "The id of the Customercategory to delete.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "The requested API version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appid",
            "in": "header",
            "description": "This is the name of your application, in this case \"MyApp/1.0.0\". It is used to identify your application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-appversion",
            "in": "header",
            "description": "This is where the version number of your application is entered, in this case \"1.0.0\".",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-runas",
            "in": "header",
            "description": "The User-Id as int or uuid to run the Request, a JTL-Wawi user can be specified to perform an API call on their behalf (more details in the documentation, Optional). To use the Header, you must have the needed Scope 'Application.RunAs'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "Specify the TenantId in GUID Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Specify the ApiKey from RegistrationProcess in Uuid Format",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "The sent data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {}
            }
          },
          "402": {
            "description": "No licence available or the app has not been authorised by JTL.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
[...]
